extends layouts/default
include helpers/mixins

block variables
	- const title = "УмняGO"

block content
	a(href="gosuslugi.html") Госуслуги
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
