.wrapper 
	img(src="./img/gosuslugi.png", alt="")
	.popup
		span.close-popup.btn-close
		p Помогите нам улучшить вашу жизнь
		a.open-modal.btn(href="#" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInDown") Пройти опрос

